In [1]:
import pandas as pd
import numpy as np

In [24]:
res = pd.read_csv('simulate_result_rename.csv')

In [25]:
res = res.dropna(how='all')

In [26]:
res.tail()

,alpha,year,long_count,short_count,pnl,sharpe,fitness,returns,draw_down,turn_over,margin
12812,ppent / inventory_turnover,2014,534.0,1176.0,115K,0.14,0.08,1.15%,3.12%,3.90%,5.85bpm
12813,ppent / inventory_turnover,2015,530.0,1159.0,661K,1.01,1.29,6.61%,2.45%,4.04%,32.43bpm
12814,ppent / inventory_turnover,2016,529.0,1176.0,-696K,-1.07,-1.50,-6.96%,5.21%,3.53%,-39.10bpm
12815,ppent / inventory_turnover,2017,533.0,1158.0,48.2K,0.67,0.84,3.57%,0.64%,2.29%,31.01bpm
12816,ppent / inventory_turnover,2012-2017,538.0,1195.0,-1.43M,-0.41,-0.35,-2.91%,11.50%,3.98%,-14.52bpm

In [33]:
res.shape

(12803, 11)

In [12]:
index = list(res.index)

In [23]:
index = list(res.index)
for i in range(len(index))[:-1]:
    if index[i] + 1 != index[i + 1]:
        print (i + 1) / 7, i

1541 10786
1792 12543

In [22]:
res.iloc[10786:10790]

,alpha,year,long_count,short_count,pnl,sharpe,fitness,returns,draw_down,turn_over,margin
10786,rd_expense / equity,2012-2017,978.0,878.0,-289K,-0.03,-0.01,-0.59%,24.93%,10.56%,-1.10bpm
10794,receivable / equity,2012,1017.0,1567.0,-56.2K,-0.14,-0.06,-0.71%,2.90%,4.14%,-3.39bpm
10795,receivable / equity,2013,1045.0,1537.0,1.82M,2.74,5.34,18.15%,1.57%,4.77%,75.50bpm
10796,receivable / equity,2014,1005.0,1566.0,-885K,-0.99,-1.35,-8.85%,7.78%,4.75%,-36.98bpm

In [20]:
mask = res.fitness < -1.5
res[mask]

,alpha,year,long_count,short_count,pnl,sharpe,fitness,returns,draw_down,turn_over,margin
146,current_ratio / assets,2012-2017,664.0,1425.0,-5.78M,-0.94,-1.51,-11.75%,35.48%,4.50%,-51.80bpm
776,current_ratio / assets_curr,2012-2017,691.0,1397.0,-6.30M,-1.20,-2.02,-12.80%,36.39%,4.51%,-56.36bpm
1077,assets_curr / operating_expense,2012-2017,814.0,1266.0,-4.79M,-1.66,-2.82,-9.74%,24.67%,3.37%,-57.39bpm
1105,assets_curr / ppent,2012-2017,696.0,1382.0,-8.37M,-0.93,-1.77,-17.02%,45.80%,4.71%,-71.67bpm
1343,bookvalue_ps / cashflow_fin,2012-2017,1340.0,1240.0,-8.11M,-0.76,-1.53,-16.49%,44.40%,4.08%,-80.13bpm
2064,EBIT / capex,2012-2017,1070.0,1397.0,-7.71M,-0.83,-1.83,-15.66%,52.31%,3.23%,-96.14bpm
2078,EBITDA / capex,2012-2017,1056.0,1391.0,-7.13M,-0.76,-1.57,-14.47%,54.97%,3.41%,-84.14bpm
2127,capex / eps,2012-2017,952.0,1611.0,-4.24M,-1.11,-1.62,-8.62%,23.97%,4.07%,-42.06bpm
2190,income_tax / capex,2012-2017,1013.0,1434.0,-8.39M,-1.08,-2.03,-17.03%,46.87%,4.82%,-70.11bpm
2330,pretax_income / capex,2012-2017,1140.0,1304.0,-7.73M,-0.82,-1.52,-15.70%,55.85%,4.55%,-68.45bpm
2883,cash / operating_expense,2012-2017,738.0,1235.0,-3.72M,-1.23,-1.78,-7.55%,19.83%,3.63%,-41.27bpm
2911,cash / ppent,2012-2017,648.0,1325.0,-9.93M,-1.07,-2.14,-20.17%,51.83%,5.07%,-78.88bpm
3674,cashflow_invst / cashflow_dividends,2012-2017,973.0,488.0,-5.31M,-0.91,-1.75,-10.79%,28.39%,2.91%,-73.56bpm
4185,cashflow_dividends / sales_ps,2012-2017,639.0,1829.0,-3.18M,-0.86,-1.56,-6.46%,18.41%,1.96%,-65.36bpm
4199,cashflow_dividends / SGA_expense,2012-2017,621.0,1325.0,-3.46M,-1.03,-1.52,-7.02%,19.59%,3.22%,-43.23bpm
6369,current_ratio / depre_amort,2012-2017,560.0,1397.0,-9.97M,-0.99,-1.58,-20.26%,53.96%,7.91%,-50.83bpm
6565,current_ratio / invested_capital,2012-2017,677.0,1399.0,-6.06M,-0.99,-1.53,-12.31%,32.75%,5.12%,-47.73bpm
6607,current_ratio / operating_expense,2012-2017,634.0,1443.0,-8.31M,-1.40,-2.53,-16.87%,45.20%,5.17%,-64.74bpm
6635,current_ratio / ppent,2012-2017,564.0,1511.0,-12.1M,-1.00,-2.00,-24.57%,74.59%,6.19%,-78.72bpm
7454,interest_expense / debt_lt,2012-2017,684.0,1156.0,-8.18M,-1.16,-1.85,-16.60%,53.13%,6.50%,-50.66bpm
8455,depre_amort / ppent,2012-2017,789.0,1412.0,-6.88M,-1.31,-2.27,-13.98%,38.71%,4.67%,-59.41bpm
10009,enterprise_value / liabilities_curr,2012-2017,717.0,1186.0,-4.49M,-1.13,-1.51,-9.12%,24.30%,5.12%,-35.37bpm
10051,enterprise_value / ppent,2012-2017,642.0,1253.0,-9.73M,-0.99,-1.78,-19.77%,49.25%,6.03%,-65.04bpm
10366,liabilities_curr / eps,2012-2017,815.0,1257.0,-3.96M,-1.17,-1.54,-8.05%,22.63%,4.60%,-34.70bpm
10478,return_assets / eps,2012-2017,964.0,1705.0,-5.52M,-1.04,-1.76,-11.20%,30.10%,3.89%,-57.20bpm
10534,sales_growth / eps,2012-2017,1259.0,1412.0,-8.80M,-1.07,-1.62,-17.86%,46.48%,7.84%,-45.22bpm
10632,income_tax / equity,2012-2017,1258.0,1416.0,-5.25M,-1.10,-1.52,-10.66%,30.65%,5.65%,-37.47bpm

In [41]:
df1 = pd.read_csv('result_2.csv')
df2 = pd.read_csv('result_3.csv')
df3 = pd.read_csv('result_4.csv')

In [4]:
df1 = df1.dropna(how='all')
df1.head()

,alpha,year,long_count,short_count,pnl,sharpe,fitness,returns,draw_down,turn_over,margin
0,assets_curr / assets,2012,1006.0,1118.0,-460K,-1.77,-2.40,-5.71%,2.96%,3.10%,-36.52bpm
1,assets_curr / assets,2013,1000.0,1119.0,407K,1.16,1.57,4.07%,2.21%,2.23%,36.17bpm
2,assets_curr / assets,2014,999.0,1117.0,-107K,-0.18,-0.12,-1.07%,4.89%,2.42%,-8.76bpm
3,assets_curr / assets,2015,983.0,1089.0,118K,0.22,0.15,1.18%,2.77%,2.72%,8.63bpm
4,assets_curr / assets,2016,982.0,1059.0,-257K,-0.52,-0.56,-2.57%,3.07%,2.24%,-22.73bpm

In [13]:
df1.tail()

,alpha,year,long_count,short_count,pnl,sharpe,fitness,returns,draw_down,turn_over,margin
1682,operating_expense / bookvalue_ps,2014,903.0,1630.0,-758K,-0.84,-1.14,-7.58%,6.46%,4.11%,-36.61bpm
1683,operating_expense / bookvalue_ps,2015,846.0,1683.0,1.09M,1.20,1.94,10.93%,2.19%,4.22%,51.43bpm
1684,operating_expense / bookvalue_ps,2016,871.0,1692.0,-468K,-0.92,-1.15,-4.68%,3.01%,3.01%,-30.84bpm
1685,operating_expense / bookvalue_ps,2017,884.0,1710.0,169K,2.75,7.37,14.65%,0.43%,2.05%,142.02bpm
1686,operating_expense / bookvalue_ps,2012-2017,875.0,1683.0,1.32M,0.30,0.26,2.69%,6.46%,3.58%,14.91bpm

In [6]:
df2 = df2.dropna(how='all')
df2.head()

,alpha,year,long_count,short_count,pnl,sharpe,fitness,returns,draw_down,turn_over,margin
1687,bookvalue_ps / operating_expense,2012,932.0,1671.0,-122K,-0.14,-0.08,-1.51%,3.47%,5.00%,-6.00bpm
1688,bookvalue_ps / operating_expense,2013,986.0,1578.0,-133K,-0.06,-0.03,-1.33%,10.00%,6.93%,-3.80bpm
1689,bookvalue_ps / operating_expense,2014,996.0,1536.0,-1.03M,-0.64,-0.75,-10.31%,9.73%,7.46%,-27.42bpm
1690,bookvalue_ps / operating_expense,2015,1007.0,1522.0,144K,0.12,0.05,1.44%,5.27%,6.95%,4.10bpm
1691,bookvalue_ps / operating_expense,2016,996.0,1566.0,3.34M,1.96,5.40,33.37%,8.35%,4.39%,150.68bpm

In [14]:
df2.tail()

,alpha,year,long_count,short_count,pnl,sharpe,fitness,returns,draw_down,turn_over,margin
5462,goodwill / cashflow_op,2014,904.0,1464.0,-624K,-0.83,-0.98,-6.24%,4.13%,4.52%,-27.41bpm
5463,goodwill / cashflow_op,2015,854.0,1515.0,132K,0.21,0.12,1.32%,2.70%,4.36%,6.00bpm
5464,goodwill / cashflow_op,2016,852.0,1530.0,-475K,-0.61,-0.68,-4.75%,4.94%,3.72%,-25.30bpm
5465,goodwill / cashflow_op,2017,858.0,1530.0,175K,2.18,5.72,14.66%,0.95%,2.13%,136.58bpm
5466,goodwill / cashflow_op,2012-2017,883.0,1490.0,-809K,-0.22,-0.14,-1.64%,11.09%,4.16%,-7.82bpm

In [53]:
df3.dropna(how='all').tail()

,alpha,year,long_count,short_count,pnl,sharpe,fitness,returns,draw_down,turn_over,margin
9662,ppent / employee,2014,848.0,1429.0,2.00M,2.58,6.57,20.04%,2.25%,3.08%,129.05bpm
9663,ppent / employee,2015,827.0,1448.0,-172K,-0.18,-0.12,-1.72%,3.59%,3.93%,-8.71bpm
9664,ppent / employee,2016,844.0,1436.0,-1.64M,-1.61,-4.09,-16.36%,8.25%,2.54%,-127.80bpm
9665,ppent / employee,2017,846.0,1440.0,-89.2K,-0.72,-1.47,-7.25%,1.04%,1.74%,-82.65bpm
9666,ppent / employee,2012-2017,851.0,1442.0,349K,0.08,0.04,0.71%,12.35%,3.21%,4.38bpm

In [10]:
df = pd.concat([df1, df2, df3])

In [32]:
df.iloc[2380:2390]

,alpha,year,long_count,short_count,pnl,sharpe,fitness,returns,draw_down,turn_over,margin
2380,return_assets / capex,2012,1013.0,1455.0,5.03M,2.64,8.17,62.48%,8.77%,6.51%,190.47bpm
2381,return_assets / capex,2013,1080.0,1349.0,-2.32M,-0.80,-1.25,-23.22%,26.86%,9.43%,-48.84bpm
2382,return_assets / capex,2014,1122.0,1290.0,-3.35M,-1.30,-3.19,-33.51%,18.18%,5.57%,-119.39bpm
2383,return_assets / capex,2015,1098.0,1296.0,-943K,-0.47,-0.64,-9.43%,13.75%,5.08%,-36.80bpm
2384,return_assets / capex,2016,1090.0,1317.0,-1.18M,-0.54,-0.76,-11.75%,20.17%,6.02%,-38.74bpm
2385,return_assets / capex,2017,1093.0,1306.0,97.2K,0.33,0.67,8.16%,3.36%,2.01%,80.72bpm
2386,return_assets / capex,2012-2017,1083.0,1336.0,-2.66M,-0.22,-0.20,-5.40%,53.90%,6.41%,-16.71bpm
2394,return_equity / capex,2012,1075.0,1373.0,1.47M,0.71,1.12,18.28%,7.90%,7.41%,48.97bpm
2395,return_equity / capex,2013,1129.0,1283.0,-3.81M,-1.66,-3.40,-38.12%,21.65%,9.15%,-82.70bpm
2396,return_equity / capex,2014,1071.0,1323.0,-4.27M,-1.55,-4.02,-42.68%,21.31%,6.32%,-134.07bpm

In [2]:
alp = pd.read_csv('alphas_for_simulate.csv')

In [3]:
alp.iloc[1410]

alpha    goodwill / enterprise_value
Name: 1410, dtype: object

In [38]:
res_df = pd.DataFrame(index=range(alp.shape[0] * 7), columns=['alpha', 'year', 'long_count', 'short_count', 'pnl', 'sharpe', 'fitness', 
               'returns', 'draw_down', 'turn_over', 'margin'])

In [39]:
res_df.shape

(15134, 11)

In [48]:
res_df.iloc[0:1687] = df1.iloc[0:1687]

In [50]:
res_df.iloc[1687:5467] = df2.iloc[1687:5467]

In [54]:
res_df.iloc[5467:9667] = df3.iloc[5467:9667]

In [57]:
res_df.iloc[2380:2400]

,alpha,year,long_count,short_count,pnl,sharpe,fitness,returns,draw_down,turn_over,margin
2380,return_assets / capex,2012,1013,1455,5.03M,2.64,8.17,62.48%,8.77%,6.51%,190.47bpm
2381,return_assets / capex,2013,1080,1349,-2.32M,-0.8,-1.25,-23.22%,26.86%,9.43%,-48.84bpm
2382,return_assets / capex,2014,1122,1290,-3.35M,-1.3,-3.19,-33.51%,18.18%,5.57%,-119.39bpm
2383,return_assets / capex,2015,1098,1296,-943K,-0.47,-0.64,-9.43%,13.75%,5.08%,-36.80bpm
2384,return_assets / capex,2016,1090,1317,-1.18M,-0.54,-0.76,-11.75%,20.17%,6.02%,-38.74bpm
2385,return_assets / capex,2017,1093,1306,97.2K,0.33,0.67,8.16%,3.36%,2.01%,80.72bpm
2386,return_assets / capex,2012-2017,1083,1336,-2.66M,-0.22,-0.2,-5.40%,53.90%,6.41%,-16.71bpm
2387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2394,return_equity / capex,2012,1075,1373,1.47M,0.71,1.12,18.28%,7.90%,7.41%,48.97bpm
2395,return_equity / capex,2013,1129,1283,-3.81M,-1.66,-3.4,-38.12%,21.65%,9.15%,-82.70bpm
2396,return_equity / capex,2014,1071,1323,-4.27M,-1.55,-4.02,-42.68%,21.31%,6.32%,-134.07bpm
2397,return_equity / capex,2015,1096,1287,1.88M,0.81,1.36,18.85%,9.42%,6.58%,56.85bpm
2398,return_equity / capex,2016,1116,1279,919K,0.44,0.51,9.19%,14.87%,6.73%,27.11bpm
2399,return_equity / capex,2017,1151,1236,465K,2.11,10.48,39.08%,2.70%,1.59%,488.96bpm

In [59]:
res_df.to_csv('simulate_result_rename.csv', index=False)

In [4]:
d = pd.read_csv('simulate_result_rename.csv')
d.head()

,alpha,year,long_count,short_count,pnl,sharpe,fitness,returns,draw_down,turn_over,margin
0,assets_curr / assets,2012,1006.0,1118.0,-460K,-1.77,-2.40,-5.71%,2.96%,3.10%,-36.52bpm
1,assets_curr / assets,2013,1000.0,1119.0,407K,1.16,1.57,4.07%,2.21%,2.23%,36.17bpm
2,assets_curr / assets,2014,999.0,1117.0,-107K,-0.18,-0.12,-1.07%,4.89%,2.42%,-8.76bpm
3,assets_curr / assets,2015,983.0,1089.0,118K,0.22,0.15,1.18%,2.77%,2.72%,8.63bpm
4,assets_curr / assets,2016,982.0,1059.0,-257K,-0.52,-0.56,-2.57%,3.07%,2.24%,-22.73bpm

In [5]:
d.dropna(how='all').tail()

,alpha,year,long_count,short_count,pnl,sharpe,fitness,returns,draw_down,turn_over,margin
9872,goodwill / enterprise_value,2014,675.0,1121.0,433K,0.69,0.44,4.33%,2.50%,10.34%,8.30bpm
9873,goodwill / enterprise_value,2015,673.0,1095.0,-1.56M,-2.26,-2.93,-15.60%,9.91%,9.30%,-33.26bpm
9874,goodwill / enterprise_value,2016,675.0,1080.0,519K,0.65,0.41,5.19%,2.92%,12.95%,7.95bpm
9875,goodwill / enterprise_value,2017,678.0,1081.0,313K,3.49,8.90,24.65%,0.33%,3.78%,129.26bpm
9876,goodwill / enterprise_value,2012-2017,674.0,1104.0,-596K,-0.14,-0.04,-1.21%,10.92%,11.88%,-2.02bpm

In [62]:
res_df.dropna(how='all').tail()

,alpha,year,long_count,short_count,pnl,sharpe,fitness,returns,draw_down,turn_over,margin
9662,ppent / employee,2014,848,1429,2.00M,2.58,6.57,20.04%,2.25%,3.08%,129.05bpm
9663,ppent / employee,2015,827,1448,-172K,-0.18,-0.12,-1.72%,3.59%,3.93%,-8.71bpm
9664,ppent / employee,2016,844,1436,-1.64M,-1.61,-4.09,-16.36%,8.25%,2.54%,-127.80bpm
9665,ppent / employee,2017,846,1440,-89.2K,-0.72,-1.47,-7.25%,1.04%,1.74%,-82.65bpm
9666,ppent / employee,2012-2017,851,1442,349K,0.08,0.04,0.71%,12.35%,3.21%,4.38bpm

In [64]:
alp.iloc[1380]

alpha    ppent / employee
Name: 1380, dtype: object